@import "./_variables.scss";

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $bg1;
}

body{
    overscroll-behavior: none;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: $vh100;
    width: fit-content;
    max-width: 100vw;
    width: 100%;
}

main { flex-grow: 1; }

a { text-decoration: none; }

$headings:("h1":$h1, "h2":$h2, "h3":$h3, "h4":$h4, "h5":$h5);

@each $key, $value in $headings{
    #{$key}{
        font-size: $value;
        font-weight: 300;
        font-family: sans-serif;
        &:b{
            font-weight: bold;
        }
    }    
}
