@import "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');


#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    // background-color: $bg1;
}

// body{
//     overscroll-behavior: none;
//     overflow-x: hidden;
//     margin: 0;
//     padding: 0;
//     min-height: $vh100;
//     width: fit-content;
//     max-width: 100vw;
//     width: 100%;
// }