$cs1: #5762D5;
$cs2: #FB4D3D;
$cs3: #A9F0D1;
$cs4: #020100;
$cs5: #FFF;
$bg1: #FFF;
$bg2: #FFF;
$bg3: #FFF;
$bg4: #FFF;
$bg5: #FFF;
$txt1: #020100;
$txt2: #020100;
$txt3: #020100;
$txt4: #020100;
$txt5: #020100;

$danger: #ea0606;
$warning: #F1D302;
$success: #00f867;