@use "sass:map";

@import "suspendors";
@import "./_themes.scss";

$bg: lighten(map.get($theme, "ash"), 17%);
$border: darken($bg, 20%);
$txt: darken($bg, 95%);


.example{
  background-color: $bg;
  border: solid 1px $border;
  color: $txt;
  text-align: center;
}

.example-2{
  background-color: darken($bg, 10%);
  border: solid 1px $border;
  color: $txt;
}