@use "sass:map";

@import "suspendors";
@import "./_themes.scss";

$bg: lighten(map.get($theme, "ash"), 17%);
$border: darken($bg, 20%);
$txt: darken($bg, 95%);

h2{
  line-height: 1;
  padding: 0;
  margin: 1.5rem 0 0 0;
  font-weight: 600;
  font-size: 2.6rem;
}

.example{
  background-color: $bg;
  border: solid 1px $border;
  color: $txt;
}

.example-2{
  background-color: darken($bg, 10%);
  border: solid 1px $border;
  color: $txt;
}